/* Nav bar CSS */
.navbar-trans {
    background: black; 
    
}
.navbar-custom .nav-item .nav-link{
    color: white;
    font-size: x-large;
    
}
.navbar-custom .nav-item .nav-link:hover {
    color: black;
    
}
.myhover:hover {
    text-decoration: underline;
}
.navbar-nav {
    background: linear-gradient(to top right, #232e3a 20%, #c790ac 100%);    
    border-radius: 8px;
    
}

#ModalLongBody {
    font-size: 10px;
}

/* Background Cover */

.cover {
    background:  url("../img/portfolio-background.jpg") center top no-repeat;
    background-size: 100% 100%;
    min-height: 100%;
    height: auto;
    border-radius: 0;
    width: 100%;
    color: #fff;
    padding-top: 1rem; 
    background-attachment: fixed;
}

#headerwrap{
    color: white;
    margin-top: 50px;
	padding-top:140px;
	background-attachment: relative;
	background-position: 0 0 center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#intro {
	background:#2c3e50;
	padding-top: 50px;
	padding-bottom: 50px;
    color: white;
    text-align: left;
    margin-top: 5%; 
} 

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: large;
    border: 2px dotted white;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: none;
    
    border-radius: 50%;
  }
  
  #myBtn:hover {
    background-color: white;
    color: black;
    /* cursor: none; */

  }
    

  .desc {
        
        text-align: left;
        padding-top: 50px;
        padding-bottom: 50px;
}



.desc t {
	font-weight: 700;
}

.desc imp {
	padding: 6px;
	color: white;
	background: #34495e;
}

.desc more {
	color: #95a5a6;
}      

#skillswrap {
	/* background: #2c3e50; */
	padding-top: 8%;
	padding-bottom: 60px;
    /* color: white; */
    text-align: left;
}

#skillswrap i, span{
    font-size: larger;
}

#footwrap {
	background: #2f2f2f;
	padding-top: 5%;
    padding-bottom: 50px;
    
}


#footwrap p {
	color: white;
}

#footwrap h5 {
	color: white;
}


#footwrap t {
	font-weight: 700;
}

#footwrap i {
	padding-right: 8px;
	color: #1abc9c;
}

#c {
	background: #222222;
    padding-top: 15px;
    padding-bottom: 1%;
    color: white;
    text-align: right;
    margin-bottom: 0;
}
#c span{
    font-size: small;
    
}
